.feyman {
  height: 890px;
  box-sizing: border-box;
  position: relative;
  padding-top: 100px;
  background: url(../../images/feinman.png) no-repeat left bottom / 867px 637px;
  background-color: #f2f2f2;
  text-align: center;
}
